/* BACKGROUND AND BASIC WRAPPER */
body {
  background-image: url("../images/flinders.jpg");
  overflow-x: hidden;
  height: auto;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-color: #242424 !important;
}

.home-wrapper {
  margin-top: 150px;
  height: 100%;
}

/* TEXT MODIFICATIONS */

h1 {
  color: white;
  font-size: 45px;
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.description-home {
  background-color: black;
  opacity: 0.8;
  left: 0;
  width: 100%;
  padding-left: 6%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.paragraph-home {
  font-size: 19px;
  font-weight: 500;
  color: white;
}

/* FINDINGS */

.findings-wrapper {
  margin-top: 150px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2e2e2e;
  opacity: 1;
  padding-top: 15px;
  padding-bottom: 17px;
}

.findings-pic {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  transition: transform 0.2s; /* Animation */
}

.findings-pic:hover {
  transform: scale(1.5);
}

.findings-desc {
  grid-column: 2;
  grid-row: 1;
  vertical-align: center;
  text-align: left;
}

.button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-image {
  width: 300px;
  height: auto;
}

.verdictButton {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
  border-radius: 20px;
}
.verdictButton:hover,
.verdictButton:active {
  background-color: #351d06; /* Green */
}

/* COLLABORATIONS */

.collaborations-wrapper {
  font-size: 20px;
  height: auto;
  margin: 0 auto;
  color: white;
  background-color: #242424;
  left: 0;
  width: 100%;
  position: relative;
}

.paragraph-collab {
  margin-left: 6%;
}

.collabButton {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
  border-radius: 20px;
}

.collabButton:hover,
.collabButton:active {
  background-color: #351d06; /* Green */
}

.vertical-center {
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 10%;
}
/* PHONE LAYOUT */
@media only screen and (max-device-width: 800px) {
  /* TEXT MODIFICATIONS */
  h1 {
    padding-left: 5%;
    padding-right: 5%;
  }

  h2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .description-home {
    padding-left: 5%;
    padding-right: 15%;
    width: 60%;
  }

  /* FINDINGS */
  .findings-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .paragraph-home {
    padding-right: 15%;
  }

  .findings-pic {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    transition: transform 0.2s; /* Animation */
  }

  .findings-desc {
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
    text-align: left;
  }

  .collaborations-wrapper {
    height: auto;
    margin: 0 auto;
    color: white;
    background-color: #743a05;
    left: 0;
    width: 100%;
  }
}
